{% extends "blog/base.html" %}

{% block content %}

<div class="container pt-1">
    <label for="room-name-input"><h4>What chat room would you like to enter?</h4></label>
    <input id="room-name-input" class="form-control row mt-3" type="text" size="100"><p>
    <input id="room-name-submit" class="form-control row mt-3 btn btn-outline-primary" type="button" value="Enter">
</div>
<script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };






</script>

{% endblock content %}